# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Datos 
data/
processed_data/
metadata/
*.npy
*.wav
*.mp3   

# Modelos 
models/*.csv

# Gráficos y Reportes
reports/*.png

# IDEs
.cursor/
.vscode/
.history/
*.code-workspace

# Ignorar reportes de texto automáticos, pero NO las imágenes
reports/*.txt
!reports/confusion_matrix.png
!reports/v2_training_curves.png
!reports/training_history.png 

# Binarios de FFmpeg
bin/
ffmpeg.exe
ffplay.exe
ffprobe.exe

# Credenciales y Cache
.env
.cache/
__pycache__/

# Reportes 
reports/*.cs